<div class="container">
    
    <p-image src="../../../assets/img/fondonosotros.png" alt="Image" width="100%" height="398px"></p-image>
    <div class="titulos">
        <h1>Sobre nosotros</h1>
        <h3>Cat nosecuanto</h3>
    </div>
   
    <div class="textos">
        <div class="texto-1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing 
            <br>elit. Quae non voluptates minima corporis, doloribus
            <br>aperiam explicabo adipisci provident ab iusto minus
            <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
            <br>Lorem ipsum dolor sit, amet consectetur adipisicing 
            <br>elit. Quae non voluptates minima corporis, doloribus
            <br>aperiam explicabo adipisci provident ab iusto minus
            <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
            <br>elit. Quae non voluptates minima corporis, doloribus
            <br>aperiam explicabo adipisci provident ab iusto minus
            <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
            <br>Lorem ipsum dolor sit, amet consectetur adipisicing 
            <br>elit. Quae non voluptates minima corporis, doloribus
            <br>aperiam explicabo adipisci provident ab iusto minus
            <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
            <br>elit. Quae non voluptates minima corporis, doloribus
            <br>aperiam explicabo adipisci provident ab iusto minus
            <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.</p>
        </div>
        <div class="texto-2">
            <p><br>elit. Quae non voluptates minima corporis, doloribus
                <br>aperiam explicabo adipisci provident ab iusto minus
                <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
                <br>Lorem ipsum dolor sit, amet consectetur adipisicing 
                <br>elit. Quae non voluptates minima corporis, doloribus
                <br>aperiam explicabo adipisci provident ab iusto minus
                <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
                <br>elit. Quae non voluptates minima corporis, doloribus
                <br>aperiam explicabo adipisci provident ab iusto minus
                <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
                <br>Lorem ipsum dolor sit, amet consectetur adipisicing 
                <br>elit. Quae non voluptates minima corporis, doloribus
                <br>aperiam explicabo adipisci provident ab iusto minus
                <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.
                <br>elit. Quae non voluptates minima corporis, doloribus
                <br>aperiam explicabo adipisci provident ab iusto minus
                <br>velit rerum magni! At, autem? Ipsa autem rem quisquam.</p>
        </div>
    </div>
  
    <div class="imagenes">
        <div class="cuadro1">
            <p-image src="../../../assets/img/fondonosotros.png" alt="Image" width="328px" height="195px"></p-image>
        </div>    
        <div class="cuadro2">
            <p-image src="../../../assets/img/fondonosotros.png" alt="Image" width="328px" height="195px"></p-image>
        </div>
        <div class="cuadro3">
            <p-image src="../../../assets/img/fondonosotros.png" alt="Image" width="328px" height="195px"></p-image>
        </div>
    </div>
</div>

